.article-header {
  transition: 200ms;
  width: 100%;
  max-width: 70em;
  min-height: 15em;
  max-height: 20em;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column-reverse;
  color: white;
  background-color: aliceblue;
  background-position: bottom center;
  border-radius: 20px;

  &:hover {
    margin-top: -0.75em;
    min-height: 15.75em;
    max-height: 20.75em;
    max-width: 72em;
    border-radius: 5px 20px 5px 20px;
    box-shadow: 0px 0px 4px lightcyan;
  }
  
  h1, h2 {
    margin: 0px 0px 10px 15px;
    margin: 0px 0px 10px 15px;
  }
}

.main-content {
  text-align: justify;
  text-align-last: center;
  font-size: large;

  img {
    text-align: center;
  }
}