:root {
  --primary-colour: #0085D1;
}

.crumby-row {
  margin-top: 10px;
  top: -1px;
  position: sticky;
  /* border-top: solid var(--primary-colour) 2px; */
  border-bottom: solid var(--primary-colour) 2px;
  border-right: solid var(--primary-colour) 2px;
  border-radius: 0px 0px 20px 0px;
}

.crumb {
  padding-left: 25px;
  background-color: var(--primary-colour);
  display: inline-block;
  height: 100%;
  color: white;

  a {
    color: inherit;
  }
}

.crumb:before {
  content: '';
  position: absolute;
  transform: translateX(-26px);
  top: 0px;
  bottom: 0px;
  border-left: 10px solid white;
  border-top: 10px solid white;
  border-bottom: 10px solid white;
  border-right: 10px solid white;
  border-radius: 0px 0px 20px 0px;
  z-index: 1;
}

.crumb:after{
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  border-left: 10px solid var(--primary-colour);
  border-top: 10px solid var(--primary-colour);
  border-bottom: 10px solid var(--primary-colour);
  border-right: 10px solid var(--primary-colour);
  border-radius: 0px 0px 40px 0px;
}

.crumby-space {
  display: inline-block;
  width: 20px;
}

.crumby-background {
  display: inline-block;
  background-image: linear-gradient(to left, var(--primary-colour) 2px, white 3px);
  border-radius: 0px 0px 20px 0px;
}