.file-uploader {
  text-align: center;
}

.sample-display {
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0px 0px 1px #aaa,
    inset 0px 0px 1px #aaa;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 72  0px;
    border-radius: 0px 0px 16px 16px;
  }

  caption {
    width: 100%;
  }
}