@font-face {
  font-family: 'Exo 2'; /*a name to be used later*/
  src: url('../assets/Exo2-VariableFont_wght.ttf'); /*URL to font*/
}

body {
  place-items: unset;
}

#root {
	box-sizing: content-box;
  font-family: 'Exo 2';
  background-size: 25px;
}

#background {
	z-index: -100;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
	position: absolute;
	background-color: #FFF;
}

h2 {
  font-size: 2em;
}

hr {
  border-image: linear-gradient(to left, #FFF0 10%, #8F8F8F, #FFF0 90%) 1 0;
  margin: 12.5px 0px;
}

.main-content, .crumby-row {
  min-width: 36rem;
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  text-align: center;
  font-size: larger;
}

.bgCircle {
	fill: #C0C0C0;
}

.bgHidden {
	fill: none;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  background: none;

  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 2px;
    border-radius: 2px;
    background: linear-gradient(90deg in srgb-linear, #1DC0FF, #FF659C);
  }
  &::-moz-range-track {
    height: 2px;
    border-radius: 2px;
    background: linear-gradient(90deg in srgb-linear, #1DC0FF, #FF659C);
  }
  &::-ms-track {
    height: 2px;
    border-radius: 2px;
    background: linear-gradient(90deg in srgb-linear, #1DC0FF, #FF659C);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    margin-top: -6.5px;
    border: #c1c1c1 solid 0.8px;
    border-radius: 1px;
    rotate: 45deg;
    background: #FFF;
  }
  &::-moz-range-thumb {
    border-radius: 1px;
    rotate: 45deg;
    background: linear-gradient(135deg, #FFF0 43%, #FFF 44%, #FFF 56%, #FFF0 57%);
  }
  &::-ms-thumb {
    border-radius: 1px;
    rotate: 45deg;
    background: linear-gradient(135deg, #FFF0 43%, #FFF 44%, #FFF 56%, #FFF0 57%);
  }
}

input[type="checkbox"] {
  margin: 0px;
  height: 25px;
  width: 25px;
}