@font-face {
  font-family: 'Exo 2'; /*a name to be used later*/
  src: url('../assets/Exo2-VariableFont_wght.ttf'); /*URL to font*/
}

body {
  place-items: unset;
}

#root {
	box-sizing: content-box;
  font-family: 'Exo 2';
  background-size: 25px;
}

h2 {
  font-size: 2em;
}

.app-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

.layout-spacer {
  /* MUST match the width of your NavMenu */
  min-width: 8em; 
  width: 8em;
  flex-shrink: 0; /* Prevents it from squishing */
}

.page-container {
  min-width: 36rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.header, .main-content {
  max-width: 72em;
}

.inline-img {
  height: 1.2em;
  vertical-align: text-bottom;
  display: inline;
}

.bgShow {
	fill: #C0C0C0;
}

.bgHidden {
	fill: none;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  background: none;

  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 2px;
    border-radius: 2px;
    background: linear-gradient(90deg in srgb-linear, #1DC0FF, #FF659C);
  }
  &::-moz-range-track {
    height: 2px;
    border-radius: 2px;
    background: linear-gradient(90deg in srgb-linear, #1DC0FF, #FF659C);
  }
  &::-ms-track {
    height: 2px;
    border-radius: 2px;
    background: linear-gradient(90deg in srgb-linear, #1DC0FF, #FF659C);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    margin-top: -6.5px;
    border: #c1c1c1 solid 0.8px;
    border-radius: 1px;
    rotate: 45deg;
    background: #FFF;
  }
  &::-moz-range-thumb {
    border-radius: 1px;
    rotate: 45deg;
    background: linear-gradient(135deg, #FFF0 43%, #FFF 44%, #FFF 56%, #FFF0 57%);
  }
  &::-ms-thumb {
    border-radius: 1px;
    rotate: 45deg;
    background: linear-gradient(135deg, #FFF0 43%, #FFF 44%, #FFF 56%, #FFF0 57%);
  }
}

input[type="checkbox"] {
  margin: 0px;
  height: 25px;
  width: 25px;
}

@media(max-width: 1000px) {
  .layout-spacer {
    display: none;
  }
}