.nav-menu {
  position: sticky;
  top: 0em;
  left: 0em;
  height: 100vh;
  overflow-y: auto;

  width: 8em;
  min-width: 8em;
  padding-top: 2em;
  padding-left: 1em;
  /* border-right: 2px solid #CFCFCF; */

  #logo {
    width: 7em;
  }
}

.nav-item {
  transition: 200ms;
  color: #000;
  opacity: 50%;
  font-size: 1.1em;

  margin-top: 5px;
  margin-left: -10px;
  margin-right: 5px;
  margin-bottom: 0px;

  padding-right: 5px;
  padding-bottom: 4px;
  border: 2px solid #0000;
  border-radius: 15px;

  &::before {
    content: "ï½œ";
  }

  &:hover {
    opacity: 80%;
    border: 2px solid #0008;
    border-radius: 10px;
  }
}