.settings-button-active {
  position: absolute;
  right: 0px;
  top: -39px;
  height: 39px;
  left: 0px;
  z-index: -1;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  padding: 10px 20px;
  border-radius: 20px 20px 0px 20px;
  border: none;
  background-color: whitesmoke;
  transition: all 0.66s ease-out;

  &::after {
    font-size: 40px;
    content: '×';
    position: absolute;
    top: -14%;
    left: 43%;
  }

  &:hover {
    height: 59px;
    border-radius: 20px 20px 0px 0px;
    background-color: #d2a0f0;
  }
}

.settings-button-inactive {
  position: absolute;
  right: 0px;
  top: -39px;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  padding: 10px 20px;
  border-radius: 20px 20px 0px 0px;
  border: none;
  background-color: whitesmoke;
  transition: all 0.66s ease-out;

  &::after {
    font-size: 40px;
    content: '⚙';
    position: absolute;
    top: -19%;
    left: 11%;
  }

  &:hover {
    background-color: #d2a0f0;
  }
}

.settings-box {
  font-size: small;
  position: fixed;
  right: 10px;
  bottom: 0px;
  width: 9.7rem;
  transition: all 0.33s ease-out;
}

.settings-menu {
  padding: 10px 5px;
  border-radius: 20px 0px 20px 20px;
  background-color: whitesmoke;
  border-top: solid 3px #d2a0f0;
  overflow-x: hidden;

  input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: none;

    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      height: 2px;
      border-radius: 2px;
      background: linear-gradient(90deg in srgb-linear, #1DC0FF, #FF659C);
    }
    &::-moz-range-track {
      height: 2px;
      border-radius: 2px;
      background: linear-gradient(90deg in srgb-linear, #1DC0FF, #FF659C);
    }
    &::-ms-track {
      height: 2px;
      border-radius: 2px;
      background: linear-gradient(90deg in srgb-linear, #1DC0FF, #FF659C);
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 15px;
      height: 15px;
      margin-top: -6.5px;
      border: #c1c1c1 solid 0.8px;
      border-radius: 1px;
      rotate: 45deg;
      background: whitesmoke;
    }
    &::-moz-range-thumb {
      border-radius: 1px;
      rotate: 45deg;
      background: linear-gradient(135deg, #FFF0 42%, whitesmoke 43%, whitesmoke 58%, #FFF0 59%);
    }
    &::-ms-thumb {
      border-radius: 1px;
      rotate: 45deg;
      background: linear-gradient(135deg, #FFF0 42%, whitesmoke 43%, whitesmoke 58%, #FFF0 59%);
    }
  }

  input[type='checkbox'] {
    translate: 0px 0.1em;
    height: 1.2em;
    width: 1.2em;
  }
}